<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Timepass</display-name>
  <welcome-file-list>
    <welcome-file>Requester.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Response</display-name>
    <servlet-name>Response</servlet-name>
    <servlet-class>com.psl.Servlet.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Response</servlet-name>
    <url-pattern>/doResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DictionaryServlet</display-name>
    <servlet-name>DictionaryServlet</servlet-name>
    <servlet-class>com.psl.Servlet.DictionaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryServlet</servlet-name>
    <url-pattern>/DictionaryServlet</url-pattern>
  </servlet-mapping>
</web-app>